@charset "utf-8";
/* CSS Document */
#contenedor{
	width: 1150px;
	height: 900px;
	background-image:url(imagenes/elephant-1302155_1280.png);
}

#cabeza{
	height: 15%;
	background-color:#FFFFFF;
	
}

#contenido{
	height: 70%;
	margin-top: 20px;
}

.trabajos{
	margin-left:20px;
	height:220px;
}

.uno{
	width: 300px;
	height:auto;
}

h1{
	text-align:center;
	
}

.nuevo{
	padding: 00px;
	margin: 40px;
	margin-top:60px;
}

.face{
	margin-right: 45px;
	margin-bottom:15px;
}

.insta{
	margin-bottom:10px;
}

.whats{
	margin-bottom:10px;
}

#footer{
	background: #FFFFFF;
	height: 20%;
}

#navegador{
	float: right;
	margin-right: 50px;
	margin-top: 40px;
}

th{
	padding: 15px;
	background: #CF51D3;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

img{
	float: left;
	height: 108px;
	width: 105px;
	margin-top: 15px;
	margin-left: 50px;
	
}

#texto{
	width: 350px;
	margin-right: 700px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #FFFFFF;
	font-size: 22px;
	float: left;
	margin-top: 100px;
	background-color: rgba(88,88,88,0.41);

	margin-left: 23px;
}

#imagen{
	margin-left: 500px;
	height: 100%;
	position: center;
	background-image: url(imagenes/eve.png);
	
}

body{
	margin: 0px;
}

#boto{
	padding: 0px;
	margin: 0px;
	margin-right: 5px;
	background: #FFFFFF;
}

#img{
	margin-right: 48px;
	width: 35px;
	height: auto;
	
}

.p{
	margin-top:50px;
}

p{
	text-align:center;
	margin-top: 50px;
}

#table{
	margin-left: 438px;
	margin-top:150px;
	align-content:center;
	background: #FFFFFF;
}

